<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title></title>

        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
        <link href="css/ionic.app.css" rel="stylesheet">
        -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- ionic/angularjs js
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

          <script src="https://code.angularjs.org/1.4.2/angular.js"></script>
          <script src="https://code.angularjs.org/1.4.2/angular-route.js"></script>
          <script src="https://code.angularjs.org/1.4.2/angular-route.js"></script>
          <script src="https://code.angularjs.org/1.4.2/angular-animate.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.4.2/angular-resource.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>

        <!-- your app's js -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>
        <script src="templates/tappage/tap-button/tap-button.directive.js"></script>
        <script src="templates/upgrade-store/upgrades/upgrades.directive.js"></script>
        
        <script src="templates/slots/slot-machine/slot-machine.directive.js"></script>
    </head>
    <body ng-app="pepeTrader" ng-controller="NavCtrl">
        <nav id="navbar" class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="pepes">
                        <a id="pepeIcon" class="pepimg store-icon" ui-sref="/upgrade-store" ng-click="switchPage('/upgrade-store', 'slideRight')"></a><span id="pepeCount" class="pepes-count" ng-bind="parsePepes(pepes)"></span>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ng-show="isActive('/upgrade-store')" ui-sref="/tappage" ng-click="switchPage('/tappage', 'slideLeft')"> <span class="back-arrow glyphicon glyphicon-chevron-right"></span> </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="page-container">
            <div ui-view class="page-view" ng-class="pageAnimationClass"></div>
        </div>
    </body>
</html>
