/* Add your own CSS if you like */
.button {
    border-radius: 3px;
    font-weight: bold;
}

.button.button-positive {
    background-color: #00a1df;
    border-color: #00a1df;
}

/* home screen */
.tappage-content {
    /*background: url(/img/splash-background.png) no-repeat;
    background-size: cover;*/
    background-color: white;
}

.tapbutton {
    display:block;
    height: 300px;
    width: 300px;
    background: darkgreen;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    margin-left: -150px;
}

.pepimg {
    display:block;
    height: 50px;
    width: 50px;
    background: lawngreen;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    position: relative;
    z-index: 2;
}

.fadeupandout {
    animation: moveUp 1s ease-out 1 forwards;
    -webkit-animation: MoveUp 1s ease-out 1 forwards, fade 1s linear;
    visibility: visible;
    opacity: 1;
}

@keyframes moveUp {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 50px;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.home-content > .scroll {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-content h1 {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.home-content .row-logo {
    flex-grow: 1;
}

.home-content .row-buttons {
    flex-grow: 0;
}

.home-content .button:last-child {
    margin-bottom: 0;
}