/* Add your own CSS if you like */
.button {
    border-radius: 3px;
    font-weight: bold;
}

.button.button-positive {
    background-color: #00a1df;
    border-color: #00a1df;
}

/* home screen */
.tappage-content {
    /*background: url(/img/splash-background.png) no-repeat;
    background-size: cover;*/
    background-color: white;
}

.tapbutton {
    display:block;
    height: 100px;
    width: 100px;
    background: darkgreen;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.home-content > .scroll {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-content h1 {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.home-content .row-logo {
    flex-grow: 1;
}

.home-content .row-buttons {
    flex-grow: 0;
}

.home-content .button:last-child {
    margin-bottom: 0;
}