/* Add your own CSS if you like */
.button {
    border-radius: 3px;
    font-weight: bold;
}

.button.button-positive {
    background-color: #00a1df;
    border-color: #00a1df;
}

/* home screen */
.tappage-content {
    background: url(../img/greenback.jpg);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.tapbutton {
    display:block;
    height: 300px;
    width: 300px;
    /*background: darkgreen;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;*/
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: -150px;
    margin-left: -150px;
    z-index: 110 !important;
    opacity: 0;
}

.happy {
    background-image: url('../img/happypepe.png');
}

.sad {
    background-image: url('../img/sadpepe.png');
}

.sadtohappy {
    margin-top: -133px;
    background-image: url('../img/sadtohappypepe.gif');
}

.happytosad {
    margin-top: -133px;
    background-image: url('../img/happytosadpepe.gif');
}

.navbar .navbar-nav li a:hover,
.navbar .navbar-nav > .active > a:hover {
    background-color: initial;
}

.pepimg {
    display:block;
    height: 50px;
    width: 50px;
    /*background: lawngreen;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;*/
    background-image: url('../img/originalpepe.png');
    background-size:contain;
    z-index: 115 !important;
}

.fadeupandout {
    pointer-events: none;
    animation: moveUp 1.5s ease-out 1, fade 1.5s linear;
    -webkit-animation: moveUp 1.5s ease-out 1, fade 1.5s linear;
    opacity: 1;
}

.pepes-count {
    font-weight: bold;
    font-size: 25px;
    top: -40px;
    position: relative;
    margin-left: 65px;
    color: white;
}

.store-icon {
    margin-left: 5px;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.bar, .navbar, .bar-stable, .bar-header, .toolbar-background {
    border: none !important;
    /*background: none !important;*/
    max-height: 50px !important;
    background-color: black !important;
}

.bar.bar-light {
    background-color: rgba(255,255,255,.66) !important; /* or transparent, or background:none */
}
.scroll-content {
    overflow: visible !important;
}

@keyframes moveUp {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-75px);
    }
}

@-webkit-keyframes moveUp {
    0% {
        -webkit-transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(-75px);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#bg {
    position: absolute;
    background-color: black;
    /*background-image:    url(../img/greenback.jpg);*/
    left: 0;
    top: -45px;
    height: 110vh;
    width: 110vw;
    margin: 0;
    padding:0;

    opacity: 1;
    z-index: 100 !important;
}

.tappage-background {
    position: absolute;
    /*background-color: black;*/
    background-image:    url(../img/greenback.jpg);
    left: 0;
    top: -45px;
    height: 110vh;
    width: 110vw;
    margin: 0;
    padding:0;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    opacity: 1;
    z-index: 2 !important;
}

.home-content > .scroll {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-content h1 {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.home-content .row-logo {
    flex-grow: 1;
}

.home-content .row-buttons {
    flex-grow: 0;
}

.home-content .button:last-child {
    margin-bottom: 0;
}

.upgrade-holder {
    margin-top: 50px;
}

.upgrade-description-td {
    width: 60%;
    text-align: center;
    line-height: 20%;
    height: 20%;
    vertical-align: middle !important;
}

.upgrade-name {
    font-weight: bold;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.upgrade-description {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.upgrade-button-td {
    width: 40%;
}

.upgrade-button {
    width: 100%;
    height: auto;
    float: right;
}

.cost {
    font-weight: bold;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.disabled {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

.right-nav {
    position: absolute;
    right: 5px;
}

.pointer-none {
    pointer-events: none;
}

.back-arrow {
    right: 10px;
}

.pepes {
    left: -15px;
    top: -3px;
}

.navbar {
    opacity: 0;
}



/* Transitions */

/* Default Enter/Leave */
.ng-enter,
.ng-leave
{
    /*transition-timing-function*/
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    /*transition-duration*/
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
    /*transition-property*/
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.ng-enter
{
    opacity: 0;
}
.ng-enter.ng-enter-active
{
    opacity: 1;
}
.ng-leave
{
    opacity: 1;
}
.ng-leave.ng-leave-active
{
    opacity: 0;
}
/* crossFade */
.crossFade.ng-enter
{
    /*transition-duration*/
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;

    opacity: 0;
}
.crossFade.ng-enter.ng-enter-active
{
    opacity: 1;
}
.crossFade.ng-leave
{
    /*transition-duration*/
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;

    opacity: 1;
}
.crossFade.ng-leave.ng-leave-active
{
    opacity: 0;
}
/* slideRight */
.slideRight
{
    opacity: 1 !important;
}
.slideRight.ng-enter
{
    /*transition-property*/
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
    /*transform*/
    -webkit-transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
.slideRight.ng-enter.ng-enter-active
{
    /*transition-property*/
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.slideRight.ng-leave
{
    /*transition-property*/
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.slideRight.ng-leave.ng-leave-active
{
    /*transition-property*/
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    -o-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}
/* slideLeft */
.slideLeft
{
    opacity: 1 !important;
}
.slideLeft.ng-enter
{
    /*transition-property*/
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
    /*transform*/
    -webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    -o-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}
.slideLeft.ng-enter.ng-enter-active
{
    /*transition-property*/
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.slideLeft.ng-leave
{
    /*transition-property*/
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.slideLeft.ng-leave.ng-leave-active
{
    /*transition-property*/
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
/* slideDown */

.slideDown.ng-enter
{
    /*transition-property*/
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
    /*transform*/
    -webkit-transform: translate3d(0,-100%,0);
    -moz-transform: translate3d(0,-100%,0);
    -ms-transform: translate3d(0,-100%,0);
    -o-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}
.slideDown.ng-enter.ng-enter-active
{
    /*transition-property*/
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.slideDown.ng-leave
{
    /*transition-property*/
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.slideDown.ng-leave.ng-leave-active
{
    /*transition-property*/
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,100%,0);
    -moz-transform: translate3d(0,100%,0);
    -ms-transform: translate3d(0,100%,0);
    -o-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}
/* slideUp */
.slideUp
{
    opacity: 1 !important;
}
.slideUp.ng-enter
{
    /*transition-property*/
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
    /*transform*/
    -webkit-transform: translate3d(0,100%,0);
    -moz-transform: translate3d(0,100%,0);
    -ms-transform: translate3d(0,100%,0);
    -o-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}
.slideUp.ng-enter.ng-enter-active
{
    /*transition-property*/
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.slideUp.ng-leave
{
    /*transition-property*/
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.slideUp.ng-leave.ng-leave-active
{
    /*transition-property*/
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,-100%,0);
    -moz-transform: translate3d(0,-100%,0);
    -ms-transform: translate3d(0,-100%,0);
    -o-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}

@media screen and (max-width: 500px) {
    .store-icon {
        margin-left: 20px;
        top: -5px;
    }
    .pepes-count {
        margin-left: 75px;
        top: -45px;
    }
    .back-arrow {
        top: -82px;
    }
    .navbar-right {
        position: absolute;
        top: 0px;
        right: 15px;
    }
}